.sub-form {
    display: flex;
    flex-direction: column;
    margin-left: 93px;

    &__icon {
      margin-left: 10px;
    }
    
    &__label {
      font-weight: 700;
      font-size: 14px;
      line-height: 1.14;
      letter-spacing: 0.03em;
      text-transform: uppercase;
      color: getColor('secondary-text-color');
      padding-top: 12px;
      margin-bottom: 20px;
      margin-left: 0;
    }
    
    &__input {
      font-size: 16px;
      line-height: 1.25;
      padding: 14px 16px;
      letter-spacing: 0.03em;
      color: rgba(255, 255, 255, 0.6);
      background-color: transparent;
      border: 1px solid rgba(255, 255, 255, 0.3);
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
      border-radius: 4px;
      width: 358px;
      margin-right: 12px;
      outline: none;
    }
  }
  
